.App {
  width: 100%

  &__title {
    padding: 15px 0 25px
    font: 400 3rem Roboto
    color: #515151
    text-shadow 1px 1px 1px #8C8C8C
    text-align: center
  }
    
  &__content {
    flex-box(row, space-around, center)
    width: 100%
    margin: 0 0 20px
    padding: 30px 30px 50px
    box-sizing border-box
    background: #fff
    box-shadow 0 0 2px 0 #9C9C9C
  }
}