@import '../node_modules/nib/lib/nib/reset';


// reset from nib
global-reset();


// variables
Roboto = 'Roboto', sans-serif;

// mixins
flex-box(direction = row, content = flex-start, items = flex-start){
  display: flex
  flex-direction: direction
  justify-content: content
  align-items: items
}


// core styles
html,
body,
#app {
  height: 100%;
}

#app {
  flex-box(row, flex-start, stretch)
}

body {
  background: #EFEFEF
}


// components styles
@import './components/**/*.styl';